/*mobile & general*/
* {
    box-sizing: border-box;
    font-weight: 400;
    font-family: "Open Sans";
    outline: none;
}

body {
    margin: 0;
}
button{
    cursor: pointer;

}

nav {
    position: fixed;
    top: 0;
    background-color: #3993ff;
    color: white;
    width: 100vw;
    height: 60px;
    z-index: 10;
    padding: 10px;
    display: grid;
    grid-template-columns: 101px auto;
}
nav> #user{
    font-size: 30px;
}
#key{
    text-align: right;
}
.blur{
    filter: blur(5px);
    pointer-events: none;
}
#key >div, #key> button{
    display: inline-block;
}
#key button, #key input{
    height: 41px;
    background-color: #3993ff;
    color: white;
    border: 2px solid white;
    border-radius: 7px;
    margin: 0 5px;
}
#show{
   transition: .2s linear; 
}
.toggled{
    color: #3993ff !important;
    background-color: white !important;
}
#hidden input{
    width: 120px;
}
#ad{
    margin: 0 auto;
    background: gray;
    width: 80vw;
    height: 200px;
}
#chat{
    margin: 100px auto 50px auto;
    width: 80vw;
    height: calc(100vh - 400px);
}
#chat input{
    height: 40px;
    width: calc(100% - 85px);
    border: 2px solid #3993ff;
    color: #3993ff;
    background-color: white;
    border-radius: 20px;
    padding: 0 10px;
}
#chat button{
    height: 40px;
    width: 80px;
    border: 2px solid #3993ff;
    color: #3993ff;
    background-color: white;
    border-radius: 20px;
}
#chatWindow{
    width: 100%;
    height: calc(100% - 20px);
    margin-bottom: 20px;
    border: 2px solid #3993ff;
    border-radius: 20px;
    padding: 10px;
}

#chatWindow span{
    border-radius: 20px;
    padding: 4px;
}
#chatWindow .user1 span{
    color: white;
    background-color: #3993ff;
}
#chatWindow .user2 span{
    color: white;
    background-color: gray;
}
#chatWindow .user2{
    text-align: right;
}

/*medium screens*/
@media only screen and (min-width: 768px) {
    #hidden input{
    width: 200px;
}
  
}

