/*mobile & general*/
* {
    box-sizing: border-box;
    font-weight: 400;
}

html {
    scroll-behavior: smooth;
}
#ad{
    width: 80vw;
    height: 200px;
    padding-top: 92px;
    text-align: center;
    border: 2px solid gray;
    position: relative;
    margin: 40px auto;
}

body {
    margin: 0;
    font-family: "Open Sans";
}

input,
textarea,
button {
    outline: none;
}

nav {
    position: fixed;
    top: 0;
    background-color: #3993ff;
    color: white;
    width: 100vw;
    height: 60px;
    z-index: 10;
}

nav #logo {
    position: relative;
    top: 10px;
    margin: 0 auto;
    width: 221px;
    cursor: pointer;
    display: block;
}

nav ul {
    display: none;
}

nav img {
    height: 40px;
}

header {
    text-align: center;
    height: 90vh;
    background: linear-gradient(180deg, rgba(57, 147, 255, 1) 0%, rgba(115, 178, 255, 1) 73%, rgba(255, 255, 255, 1) 100%);
    padding-top: 15vh;
    color: white;
}

header h1 {
    margin-bottom: 0;
}

#enterRoom input {
    padding-left: 10px;
    border: 1px solid rgba(57, 147, 255, 1);
}

#enterRoom button {
    margin-top: 20px !important;
    color: white;
    background-color: rgba(57, 147, 255, 1);
    border: 2px solid white;
    cursor: pointer;
    transition: .1s linear;
}

#enterRoom button:hover {
    filter: brightness(1.05);
}
#users{
    width: 400px;
    grid-template-columns: 50% 50%;
    display: grid;
    margin: 0 auto;
    position: relative;
}

#users input{
    width: 40px;
    height: 40px;
    font-size: 20px;
}

#enterRoom> input,
#enterRoom button {
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 40px;
    border-radius: 20px;
    font-size: 20px;
    outline: none;
}

#scrollDown {
    position: absolute;
    top: 70vh;
    left: calc(50vw - 73.5px);
}

#scrollDown p {
    font-size: 18px;
    font-weight: 100;
}

#scrollDown img {
    cursor: pointer;
    transition: .1s linear;
}

#scrollDown img:hover {
    transform: scale(1.1);
}

#howDoesItWork {
    color: #3993FF;
    text-align: center;
}

#howDoesItWork h2 {
    margin: 100px 0 50px 0;
    font-size: 30px;
}

#explain {
    display: grid;
    grid-template-columns: 100%;
}

.step {
    text-align: center;
    padding: 10vh 10vw;
}

.step:nth-of-type(2n+1) {
    background-color: rgba(0, 0, 0, .03);
}

.step > .stepTitle {
    font-size: 20px;
    font-weight: 600;
}

footer {
    background-color: #3993FF;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px 0;
}

footer img {
    height: 20px;
}

#about {
    text-align: justify;
    color: white;
    background-color: #3993FF;
    padding: 50px 0 0 0;
}

#about h2.title {
    position: relative;
    width: 125px;
    left: calc(50vw - 62.5px);
}

#about h2 {
    font-size: 30px;
}

#about p {
    position: relative;
    margin: 0 auto;
    padding: 20px 20px;
    max-width: 1200px;
}

#about form {
    color: white;
    background-color: #3993FF;
    text-align: center;
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
    padding: 15px 0;
}

#about form input,
#about form textarea {
    color: #3993FF;
    border: 2px solid #3993FF;
    resize: none;
    display: block;
    width: 400px;
    position: relative;
    margin: 15px auto;
    font-size: 20px;
}

#about form input,
#about form button {
    height: 40px;
    width: 400px;
    border-radius: 20px;
}

#about form textarea {
    height: 120px;
    border-radius: 20px;
}

#about form button {
    font-size: 20px;
    border: 2px solid white;
    color: white;
    background-color: #3993FF;
    cursor: pointer;
    margin-bottom: 30px;
    transition: .1s linear;
}

#about form button:hover {
    filter: brightness(1.1)
}

/*medium screens*/
@media only screen and (min-width: 768px) {
    nav ul {
        display: flex;
        position: absolute;
        right: 40px;
        top: 0;
    }
    nav #logo{
        display: inline-block;
    }
    nav ul li {
        list-style: none;
        width: 205px;
        text-align: center;
        transition: .1s linear;
        font-weight: 100;
    }

    nav ul li:hover {
        opacity: .8;
    }

    nav a {
        text-decoration: none;
        color: white;
        font-size: 24px;
    }

    nav #logo {
        margin: 0;
        left: 20px;
    }

    #explain {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .step {
        background-color: white !important;
    }

    .step:nth-of-type(2),
    .step:nth-of-type(3),
    .step:nth-of-type(6) {
        background-color: rgba(0, 0, 0, .03) !important;
    }
}

/*dsektop*/
@media only screen and (min-width: 992px) {
    nav #logo {
        margin: 0;
        left: 40px;
    }

    header h1 {
        font-size: 60px;
    }

    header p {
        font-size: 20px;
    }

    #about form {
        border-radius: 20px;
    }
}