<html>
  <head>
    <title>Session</title>
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"
      integrity="sha512-nOQuvD9nKirvxDdvQ9OMqe2dgapbPB7vYAMrzJihw5m+aNcf0dX53m6YxM4LgA9u8e9eg9QX+/+mPu8kCNpV2A=="
      crossorigin="anonymous"
    ></script>

    <script src="https://www.google.com/recaptcha/api.js"></script>

    <!-- custom lib -->
    <script src="{{ url_for('static', filename='js/cookies.js') }}"></script>
  </head>
  <body>
    <form method="POST" id="main_form">
      <p>Hello</p>
      key
      <input type="key" name="key_id" id="key" /><br />
      <input type="radio" id="user1" name="user" value="1" />
      <label for="1">user1</label><br />
      <input type="radio" id="user2" name="user" value="2" />
      <label for="2">user2</label><br />
      Wprowadź swoje dane i kliknji
      <button id="button_send_data" type="button">Enter</button>

      <button
        class="g-recaptcha"
        data-sitekey="6LerCeMZAAAAAB0sX5vziXTk6fayka2w9bEsMfkO"
        data-callback="onSubmit"
        data-action="submit"
      >
        przejdz do czatu
      </button>
    </form>
    <script src="{{ url_for('static', filename='js/enter.js') }}"></script>
    <script>
      function onSubmit(token) {
        document.getElementById("main_form").submit();
      }
    </script>
  </body>
</html>
