<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatson.io</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/icon.png') }}">
</head>

<body>
    <nav>
        <div id="logo" onclick="window.scrollTo(0, 0)"><img src="{{ url_for('static', filename='img/chatson_logo_white.png') }}" alt=""></div>
        <ul>
            <a href="#howDoesItWork">
                <li>How does it work?</li>
            </a>
            <a href="#about">
                <li>About us</li>
            </a>
        </ul>
    </nav>
    <header id="join">
        <h1>Enter room code</h1>
        <p>Or choose one of avaliable codes :&#41;</p>
        <form id="enterRoom" action="">
            <input type="text" name="code" list="codes" placehoder="Code..." />
            <datalist id="codes">
                <option>coed1</option>
                <option>code2</option>
                <option>llama</option>
                <option>darkpowerxD</option>
                <option>120524</option>
            </datalist>
            <button type="submit">Enter!</button>
        </form>
        <div id="scrollDown">
            <p>How does it work?</p>
            <img src="{{ url_for('static', filename='img/arrow.svg') }}" alt="">
        </div>
    </header>
    <section id="howDoesItWork">
        <h2>How does it Work?</h2>
        <div id="explain">
            <div class="step">
                <div class="stepTitle">You enter Code</div>
                <div class="stepDetails">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae doloribus sed earum quo aperiam voluptatem!</div>
            </div>
            <div class="step">
                <div class="stepTitle">Code is sent to OUR servers</div>
                <div class="stepDetails">It's basically step 1, but I wanted to insert communism joke somewhere</div>
            </div>
            <div class="step">
                <div class="stepTitle">You get assigned to one of the rooms</div>
                <div class="stepDetails">That's where we're gettin' started.</div>
            </div>
            <div class="step">
                <div class="stepTitle">Invite your friend</div>
                <div class="stepDetails">Text him something like "oi bruv, I hav found great fookin chat, where yo can be com'letly anonymus"</div>
            </div>
            <div class="step">
                <div class="stepTitle">We keep your chats private</div>
                <div class="stepDetails">Basically double AES goes brrrrrr</div>
            </div>
            <div class="step">
                <div class="stepTitle">You are safe</div>
                <div class="stepDetails">If cops request data from us, they're gonna get double encrypted database. Fuck they gonna do?</div>
            </div>
        </div>
    </section>
    <section id="about">
        <h2 class="title">About us</h2>
        <p>Random bullshit go *lorem ipsum intensifies* <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae vero aut iure dolorum, esse molestias consequatur quod sit eos porro unde fuga quia doloremque dicta mollitia saepe vel alias voluptatibus error iste optio at eaque doloribus. Nulla sint ipsa sapiente officiis, obcaecati consequatur. Iste cumque, id quia totam odio tempora?</p>
        <form action="">
            <h2>Contact us</h2>
            <input type="text" name="name" placeholder="Your name">
            <input type="email" name="replyTo" placeholder="Your e-mail address (required)" required>
            <input type="text" name="subject" placeholder="Subject (required)" required>
            <textarea name="message" placeholder="Your message (required)" required></textarea>
            <button type="submit">Send!</button>
        </form>
    </section>
    <footer>&copy;2020-2020 | Made with &hearts; by <img src="{{ url_for('static', filename='img/malogoFooterWhite.png') }}" alt="M&A">
    </footer>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>